<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1202.4</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>779.2</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Minimized</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>222.4</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>Harrison</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>lapo090790@shms-mail.ch</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>b2bd1fa5-11a8-49c6-b728-73d91032fdd4</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Program Files\Git</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\user\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationGettingStartedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>02/10/2024 23:07:25</value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>